@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: brown;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    
}
.header-img{
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.header-img img{
    width: 100%;
}

